<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/my_app_activity/css/about.css">
    </head>
    <body>
        <div id="app">
            <div class="content">
                <span class="h1">About</span>
                <span class="h3">Welcome to the "About" page</span>
            </div>
        </div>
    </body>
</html>